@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rajdhani&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

body {
    position: inherit;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(0.35turn, #1a1a1a, rgba(201, 70, 9, 0.788) 22%,hsla(254, 100%, 50%, 0.932) 120%); 
    background-color: aliceblue;
}
    
    
section.cabeçalho {
    display: flex;
    align-items:center;
    justify-content:space-around ;
    background-color: rgba(0, 0, 0, 0.486);
}

.profilePhoto {
    margin: 20px;
    width: 80px;
    border-radius: 45px;
    border:rgb(255, 255, 255) solid 0.5px;
}

nav .links {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    gap: 150px;
    font-size: 20px;
}
    

.links a:hover {
font-size: 20.8px;
transform: translateY(-10px);
}

.links a{
    margin: 25px;
     color: rgb(255, 255, 255);
     border-bottom: white solid 0.4px;   
}
    
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
    
.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    margin-top: 25%;
    font-size: 35px;
    color: rgb(56, 9, 99);
}
    


   


