@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

body {
    position: inherit;
    background-repeat: no-repeat;
    font-family: 'Cairo', sans-serif;
    background-image: linear-gradient(0.35turn, #1a1a1a,hsla(254, 100%, 50%, 0.932) 90%); 
    background-color: aliceblue;
}
    
    
section.cabeçalho {
    display: flex;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.486);
}
    
section.logo {
    display: flex;
    flex-direction: column;
    
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}

.profilePhoto {
    margin: 20px;
    width: 80px;
    border-radius: 45px;
    border:rgb(255, 255, 255) solid 0.5px;
}

nav .links {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    position: absolute;
    font-size: 20px;
    gap: 10px;
    margin-left: 35%;
}
    
.links a:hover {
    font-size: 20.8px;
    transform: translateY(-10px);
}

.links a{
    margin: 25px;
     color: rgb(255, 255, 255);
     border-bottom: white solid 0.4px;   
}
    
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
    
    
.name {
    display: flex;
    margin-top: 25%;
    font-size: 50px;
    color: rgb(51, 45, 56);
}


.tech {
    display: flex;
    color: rgb(51,45,56);
}
    
section.container {
    display: flex;
    margin: 120px;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(3, 30, 82);
    font-size: 22px;
    border-radius: 20px;
}

.saibaMais {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: rgb(12, 16, 80);
}




   


